<AnimatedContainer class="gameboard">
  <div class="board">
    {{#each board.rows as |row|}}
      <div class="row">
      {{#each row.grids as |grid|}}
        <div class="grid {{grid.t}}"></div>
      {{/each}}
      </div>
    {{/each}}
  </div>

  {{#animated-each ships use=transition duration=400 key="id" watch="style" as |ship|}}
    <div class="ship" style={{ship.style}} >
      <img src="images/ship.svg" />
    </div>
  {{/animated-each}}

</AnimatedContainer>

<div id="gameport">
  <div id="windowport"></div>
  <div id="errorpane" style="display:none;">
    <div id="errorcontent"></div>
  </div>
</div>



<div class="bottombar" style="display:none;">
  <div class="controls">
    <div>Position: [{{ship.x}}:{{ship.y}}]</div>
    <div class="up"><button {{action buttonMove 0 -1}}>&nbsp;Up&nbsp;</button></div>
    <div>
      <button {{action buttonMove -1 0}}>Left</button>
      <button {{action buttonMove 1 0}}>Right</button>
    </div>
    <div class="down"><button {{action buttonMove 0 1}}>Down</button></div>
  </div>
</div>
