<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<div class="hexeswrapper">
  <section>
    <div style="display:none;">
      <figure>
        <canvas id="layout-test-orientation-pointy" width="600" height="400"></canvas>
        <canvas id="layout-test-orientation-flat" width="600" height="400"></canvas>
      </figure>

      <p>Let’s try three different sizes, <code>Point(10, 10)</code>, <code>Point(20, 20)</code>, and <code>Point(40, 40)</code>:</p>

      <figure>
        <canvas id="layout-test-size-1" width="400" height="400"></canvas>
        <canvas id="layout-test-size-2" width="400" height="400"></canvas>
        <canvas id="layout-test-size-3" width="400" height="400"></canvas>
      </figure>

    </div>
        <canvas id="gamecanvas-flat" width="500" height="500"
          onClick={{action "hexReport" "gamecanvas-flat"}}
          onMouseMove={{action "hexMouseMove"}}
        ></canvas>
  </section>
</div>
{{input value=mouseXY}}{{input value=currentHex}}<button {{action "toggleTiles"}}>Toggle Tiles</button>
[{{#if mapLoaded}}loaded{{/if}}]
