<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<AnimatedContainer class="gameboard">
  <section>
    <div class="hexwrapper">
      <figure>
        <canvas id="gamecanvas-flat" width="550" height="580"
                onClick={{action "hexReport" "gamecanvas-flat"}}
                onMouseMove={{action "hexMouseMove"}}
        ></canvas>
      </figure>
      {{#if this.ships}}
        <Ship
              @ships={{this.ships}}
              @hexLayout={{this.currentLayout}}
              @q={{this.shipHex.q}}
              @r={{this.shipHex.r}}
              @s={{this.shipHex.s}}
              @hex={{this.shipHex}}
              @point={{this.shipPoint}}
              @mapCenterX={{this.centerX}}
              @mapCenterY={{this.centerY}}
        />
      {{/if}}
    </div>
  </section>
</AnimatedContainer>
<div>
  Mouse X:Y{{input value=mouseXY}}
</div>
<div>
  Mouse Hex: {{input value=currentHex}}
</div>
<div>
  Ship: {{this.shipHex.q}} {{this.shipHex.r}} {{this.shipHex.s}}
</div>
<div>
  Rect centers: {{centerX}} : {{centerY}}
</div>
<div>
  <button {{action "toggleTiles"}}>Toggle Tiles</button>
  <button {{action "findPath"}}>Find Path</button>
</div>
<div>
  [{{#if this.tilesLoaded}}loaded{{/if}}]
</div>
